{% extends "base.html" %}

{% block extra_css %}
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.css">
  <style>
    .CodeMirror, .CodeMirror-scroll {
      height: 200px;
    }

    .bootstrap-tagsinput {
      width: 100%;
    }
  </style>
{% endblock %}


{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-6 center-block" style="float:none;">
        <form method="POST">
          {% csrf_token %}
          <div class="form-group">
            <label for="question">Question</label>
            <input type="text" class="form-control" id="question"
                   name="question" value="{{ form_data.question }}">
          </div>

          <div class="form-group">
            <label for="question">Description</label>
            <textarea class="form-control" id="description"
                      name="description">{{ form_data.description }}</textarea>
          </div>


          <div class="form-group" id="answers-container">
            <label for="answers">Answers</label>
            <input type="text" class="form-control"
                   name="answers[]"
                   {% if form_data.answers.0 %}value="{{ form_data.answers.0 }}"{% endif %}>
            <input type="text" class="form-control"
                   name="answers[]"
                   {% if form_data.answers.1 %}value="{{ form_data.answers.1 }}"{% endif %}>
            {% for answer in form_data.answers|slice:"2:" %}
              <input type="text" class="form-control"
                     name="answers[]" value="{{ answer }}">
            {% endfor %}
          </div>

          <div class="form-group">
            <sup><a href="#answers-container" id="add-more-choices">Add more
              choices</a></sup>
          </div>

          <div class="form-group" id="tags-container">
            <label for="Tags">Tags</label> </br>
            <input id="tags" name="tags" type="text" data-role="tagsinput"/>
          </div>

          <div class="form-group">
            <label for="expire_at">Expire at</label>
            <select class="form-control" id="expire-at"
                    name="expire-at">
              <option value="1_week"
                      {% if form_data.expire_at == "1_week" %}selected="selected"{% endif %}>
                1 week
              </option>
              <option value="1_month"
                      {% if form_data.expire_at == "1_month" %}selected="selected"{% endif %}>
                1 month
              </option>
            </select>

          </div>
          <div class="form-group">
            <label for="reward-option">Reward</label>
            <select class="form-control" id="reward-option"
                    name="reward-option">
              <option value="50%"{% if form_data.reward_option == "50%"%} selected="selected"{% endif %}>50% SBD / 50% SP</option>
              <option value="100%"{% if form_data.reward_option == "100%"%} selected="selected"{% endif %}>Power Up 100%</option>
              <option value="0%"{% if form_data.reward_option == "0%"%} selected="selected"{% endif %}>Decline Payout</option>
            </select>

          </div>
          <div class="form-group">
            <label for="allow-multiple-choices">
              <input type="checkbox" name="allow-multiple-choices" value="yes" {% if form_data.allow_multiple_choices %} checked{% endif %}>
              Allow multiple choice selection<br>
            </label>
          </div>


          <button type="submit" class="btn btn-primary mb-2">Submit
          </button>

        </form>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_js %}
  <script
      src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script
      src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tagsinput/0.8.0/bootstrap-tagsinput.js"></script>
  <script type="text/javascript">
      var simplemde = new SimpleMDE({element: document.getElementById("description")});

      $(function () {

          $("#add-more-choices").click(function () {
              if ($("#answers-container input").length > 19) {
                  alert("Maximum 20 answers.");
                  return;
              }
              $('#answers-container').append(
                  '<input type="text" class="form-control" name="answers[]">'
              );
          });
      });

      // tags limit
      $('#tags').tagsinput({
          maxTags: 5,
          trimValue: true,
          confirmKeys: [13, 32, 44],
          tagClass: 'label label-primary'
      });

  </script>
{% endblock %}