{% extends "base.html" %}

{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        {% if promoted_poll and request.GET.order != "promoted" %}
              <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title">
            Promoted Poll
</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">

                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-xs-2 col-md-1">
                        <img
                            src="https://steemitimages.com/u/{{ promoted_poll.username }}/avatar"
                            class="avatar"
                            alt=""/></div>
                      <div class="col-xs-10 col-md-11">
                        <div>
                          <a href="{% url 'detail' promoted_poll.username promoted_poll.permlink %}">
                            {{ promoted_poll.text }}</a>
                          <div class="mic-info">
                            By: <a
                              href="{% url 'profile' promoted_poll.username %}">{{ promoted_poll.username }}</a>
                            on {{ promoted_poll.created_at }}. (Promotion cost: {{ promoted_poll.promotion_amount }} HBD)
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>

            </ul>
          </div>
        </div>

        {% endif %}
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title">
              {% if request.GET.order == "trending" %}Trending{% endif %}
              {% if request.GET.order == "new" %}Recent{% endif %}
              {% if request.GET.order == "promoted" %}Promoted{% endif %}

              Polls</h3>

          </div>
          <div class="panel-body">
            <ul class="list-group">
              {% for poll in polls %}

                {% if poll.permlink %}

                  <li class="list-group-item">
                    <div class="row">
                      <div class="col-xs-2 col-md-1">
                        <img
                            src="https://steemitimages.com/u/{{ poll.username }}/avatar"
                            class="avatar"
                            alt=""/></div>
                      <div class="col-xs-10 col-md-11">
                        <div>
                          <a href="{% url 'detail' poll.username poll.permlink %}">
                            {{ poll.text }}</a>
                          <div class="mic-info">
                            By: <a
                              href="{% url 'profile' poll.username %}">{{ poll.username }}</a>
                            on {{ poll.created_at }} {% if request.GET.order == "promoted" %}(Promotion cost: {{ poll.promotion_amount }} HBD){% endif %}
                          </div>
                        </div>

                      </div>
                    </div>
                  </li>
                {% endif %}
              {% endfor %}

            </ul>
          </div>
        </div>
        <nav aria-label="navigation" class="text-center">
          <ul class="pagination">
            {% if polls.has_previous %}
              <li class="page-item">
                <a href="?page={{ polls.previous_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}"
                   class="page-link">&laquo; Previous</a>
              </li>
            {% endif %}
            {% if polls.has_next %}
              <li class="page-item">
                <a href="?page={{ polls.next_page_number }}{% if request.GET.order %}&order={{ request.GET.order }}{% endif %}"
                   class="page-link next">Next &raquo;</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
      <div class="col-md-4">
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title">
              General Stats</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  <div class="col-xs-10 col-md-11">
                    <div>
                      <strong>{{ stats.poll_count }}</strong>
                      <span class="mic-info">
                        Polls
                      </span>
                    </div>
                    <div>
                      <strong>{{ stats.vote_count }}</strong>
                      <span class="mic-info">
                        Votes
                      </span>
                                          </div>
                    <div>

                      <strong>{{ stats.user_count }}</strong>
                      <span class="mic-info">
                        Users
                      </span>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title">
              Top dPollers</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  {% for count, username in stats.top_dpollers %}
                    <div class="col-xs-10 col-md-11">
                      <div>
                        <strong><a
                            href="{% url 'profile' username %}">@{{ username }}</a></strong>
                        <span class="mic-info">
                          (<strong>{{ count }}</strong> Polls)
                        </span>
                      </div>
                    </div>
                  {% endfor %}

                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="panel panel-default widget">
          <div class="panel-heading">
            <h3 class="panel-title">
              Top voters</h3>
          </div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">
                <div class="row">
                  {% for count, user in stats.top_voters %}
                    <div class="col-xs-10 col-md-11">
                      <div>
                        <strong><a
                            href="{% url 'profile' user.username %}">@{{ user.username }}</a></strong>
                        <span class="mic-info">
                          (<strong>{{ count }}</strong> votes)
                        </span>
                      </div>
                    </div>
                  {% endfor %}

                </div>
              </li>
            </ul>
          </div>
        </div>

      </div>

    </div>
  </div>
{% endblock content %}
