{% extends "base.html" %}
{% load markdown_extras %}
{% block content %}

  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>{{ poll.text }}</h2>
        <h6>Asked by <a
            href="{% url 'profile' poll.username %}">{{ poll.username }}</a>
        </h6>

        <br/>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 center-block">
      <div class="user-poll-section">
        <div class="panel panel-default">

          <form method="POST"
                action="{% url 'vote' poll.username poll.permlink %}">
            {% csrf_token %}
            <div class="panel-body">
              <p>
                {{ poll.description | markdown|safe }}
              </p>
              {% for choice in choices %}
                <div class="radio">
                  <label>
                    <input type="radio" name="choice-id"
                           id="choice_id_{{ choice.id }}"
                           value="{{ choice.id }}"
                        {% if user_vote.id == choice.id %}
                           checked="true"{% endif %}>
                    <strong> </strong>{{ choice.text }}
                  </label>
                </div>
              {% endfor %}

              <div class="panel-default">
                <button type="submit"
                        class="btn btn-primary"
                        {% if user_vote %}disabled{% endif %}>
                  Vote
                </button>
              </div>
              <hr/>
          </form>

          {% if not total_votes %}
            <em>No votes, yet...</em>
          {% else %}
            {% for choice in choices %}
              {% if choice.percent  > 0 %}
              {{ choice.text }}
              <small><em>({{ choice.percent }}%)</em>
                <span class="pull-right"> <a
                    data-toggle="modal"
                    data-target="#voter-list-{{ choice.id }}">
                                                     {{ choice.votes }} / {{ all_votes }}
                      </a></span>
              </small>
              <div class="progress progress-striped active">
                <div class="progress-bar progress-bar-success"
                     role="progressbar" aria-valuenow="10"
                     aria-valuemin="0" aria-valuemax="100"
                     style="width: {{ choice.percent }}%">
                  <span
                      class="sr-only">{{ choice.percent }}% Complete (success)</span>
                </div>
              </div>
            {% endif %}
            {% endfor %}
            <div id="canvas-holder" style="width:100%">
              <canvas id="chart-area"></canvas>
            </div>
          {% endif %}
        </div>

      </div>

    </div>
  </div>

  </div>

  </div>

  {% for choice in choices %}
    <div class="modal fade" id="voter-list-{{ choice.id }}" tabindex="-1"
         role="dialog"
         aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"
                    aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Accounts voted
              for '{{ choice.text }}'</h4>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
              <tr>
                <th scope="col">Account</th>
              </tr>
              </thead>
              <tbody>
              {% for user in choice.voted_users.all %}
                <tr>
                  <td><a href="{% url 'profile' user.username %}">@{{ user.username }}</a></td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">Close
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock content %}

{% block extra_js %}
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js"></script>
  <script>
  	Chart.pluginService.register({
			beforeRender: function (chart) {
				if (chart.config.options.showAllTooltips) {
					// create an array of tooltips
					// we can't use the chart tooltip because there is only one tooltip per chart
					chart.pluginTooltips = [];
					chart.config.data.datasets.forEach(function (dataset, i) {
						chart.getDatasetMeta(i).data.forEach(function (sector, j) {
							chart.pluginTooltips.push(new Chart.Tooltip({
								_chart: chart.chart,
								_chartInstance: chart,
								_data: chart.data,
								_options: chart.options.tooltips,
								_active: [sector]
							}, chart));
						});
					});

					// turn off normal tooltips
					chart.options.tooltips.enabled = false;
				}
			},
			afterDraw: function (chart, easing) {
				if (chart.config.options.showAllTooltips) {
					// we don't want the permanent tooltips to animate, so don't do anything till the animation runs atleast once
					if (!chart.allTooltipsOnce) {
						if (easing !== 1)
							return;
						chart.allTooltipsOnce = true;
					}

					// turn on tooltips
					chart.options.tooltips.enabled = true;
					Chart.helpers.each(chart.pluginTooltips, function (tooltip) {
						tooltip.initialize();
						tooltip.update();
						// we don't actually need this since we are not animating tooltips
						tooltip.pivot();
						tooltip.transition(easing).draw();
					});
					chart.options.tooltips.enabled = false;
				}
			}
		});

      var randomScalingFactor = function () {
          return Math.round(Math.random() * 100);
      };

      function getRandomColor() {
          var letters = '0123456789ABCDEF'.split('');
          var color = '#';
          for (var i = 0; i < 6; i++) {
              color += letters[Math.floor(Math.random() * 16)];
          }
          return color;
      }


      var labels = [];
      var colors = [];
      var data = [];
      {% for choice in choices %}
          {% if choice.percent > 0 %}
          labels.push("{{ choice.text }}");
          colors.push(getRandomColor());
          data.push({{ choice.votes}});
          {% endif %}
      {% endfor %}



      var config = {
          type: 'doughnut',
          data: {
              datasets: [{
                  data: data,
                  backgroundColor: colors
              }],
              labels: labels
          },
          options: {
              showAllTooltips: true,
              responsive: true,
              legend: {
                  position: 'top'
              },
              animation: {
                  animateScale: true,
                  animateRotate: true
              }
          }
      };


      window.onload = function () {
          var ctx = document.getElementById('chart-area').getContext('2d');
          window.myDoughnut = new Chart(ctx, config);
      };


  </script>

{% endblock %}

{% block extra_css %}
<style>
.panel-body img {
  display: block;
  max-width: 100%;
  height: auto;
}
</style>
{% endblock %}